.Code {
  background-color: var(--color-background-code);
  color: var(--color-default);
  display: inline-block;
  white-space: pre;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.Link {
  display: inline-flex;
  align-items: center;
  gap: 0.5ch;
  text-decoration: none;
  font-family: monospace;
}
.Link:hover {
  text-decoration: underline;
}
