.Link {
  color: var(--color-default);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5ch;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.Link:hover {
  text-decoration: underline;
}

.Icon {
  color: var(--color-dim);
  flex: 0 0 1.5rem !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
