.Header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.HomeLink {
  color: var(--color-default);
  text-decoration: none;
}
.HomeLink:hover {
  text-decoration: underline;
}

.Arrow {
  color: var(--color-dim);
}

.Title {
  color: var(--color-dim);
}
