.Warning {
  display: inline-block;

  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  background-color: var(--color-warning-background);
  color: var(--color-warning);

  font-size: 16px;
}

.Icon {
  height: 1.5rem;
  width: 1.5rem;
  flex: 0 0 1.5rem;
}

.Warning code {
  color: inherit;
}
